.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  width: 30%;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

.modal-form button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin: 0 auto;
  width: 30%;
  color: white;
  background: #5959ee;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-form label {
  text-align: center;
  color: #2c2c77;
}
#email {
  border: none;
  border-radius: 5px;
  background-color: #f6f7fb;
  padding: 10px;
  margin: 10px 0;
  outline: unset;
}

@media (max-width: 768px) {
  .modal {
    width: 60%;
  }
  .modal-form button {
    width: 90%;
  }
}
