.Footer {
  height: 30px;
  border-top: 1px solid white;
  background-color: #5959ee;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.Footer p {
  margin: 0 auto;
  color: white;
}
