body {
  background-color: #f6f7fb;
  color: #a3a3a3;
}
.App {
  text-align: center;
}

button:hover {
  cursor: pointer;
}
button {
  outline: unset;
}

a {
  text-decoration: none;
}

figure {
  z-index: 1;
  width: 303px;
  overflow: hidden;
  margin: 0 5px;
  animation: show 0.8s ease;
}

figure figcaption {
  margin: 0;
  position: relative;
  z-index: -1;
}

figure:hover figcaption {
  opacity: 1;
  transform: translateY(-19px);
}

figcaption {
  font-size: 24px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-200px);
  background: white;
  padding: 3px 0 3px 0;
  transition: 0.3s;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
